body {
  margin: 0;
  padding: 0;
  background: #049372;
  background-size: 100%;
  color: #014401 !important;
  font-family: 'Open Sans',Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h4, h5 {
  color: #014401;
  font-weight: bold;
  
}

h6 {
  color: #014401;
  font-weight: bold;
  font-size: 20px;
}

.headerNav{
  color: white;
}

.navbar-nav{
  flex-direction: row;
  padding: 0px 0px;
}

.navbar{
  font-family: "Montserrat",sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: normal;
}

.headerNav{
  margin-right: 10px;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

.input-text-sm-pd {
  padding-left: 10px;
  font-size: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 0px;
}

.button-adjust-padding-sm {
  padding-top:0px!important;
  padding-left:5px!important;
  padding-right:5px!important;
}

.user .ReactTable .rt-tbody .rt-td,
.user .ReactTable .rt-resizable-header-content {
  align-self: center; 
  text-align: center;
}

.user .ReactTable{
  /* background: #fff; */
}

.rt-resizable-header-content{
  /* text-align: center; */
}

.dropdown-menu{
  min-width: 15rem;
}

.ReactTable.hideHeader .rt-thead.-header{
  display: none;
}

.ReactTable.hideHeader .rt-tbody .rt-td{
  /* align-self: center */
}

.ReactTable.hideHeader{
  border: none;
}

.carousel-item { 
  height: 200px;
}

.carousel-caption{
  color: white;
}

.recharts-responsive-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 80vh !important;
  background-color: #fff;
}

.report-buttons{
  max-height: 85vh !important
}

@media screen and (max-width: 600px) {
  .recharts-responsive-container, .report-buttons {
    width: 100%;
    height: 40vh !important;
  }
}

.react-date-range-picker {
  border: 0.56px solid #ccc;
  border-radius: 5px;
  padding-left: 7px;
  padding-top: 3px;
  height: 31px;
  background-color: white;
}

.react-date-range-picker .remove {
  position: absolute;
  top: 26px;
  right: 17px;
  text-decoration: none;
  color: #495057;
}

.react-date-range-picker > div {
  display:block!important
}

.react-date-range-input {
  color: #495057;
  font-size: 12px;
}

.css-1rtrksz {
  overflow: hidden !important;
}

/* LOADER */
.loader {
  position: fixed;
  display: inline-grid;
  top: 0;
  left: 0;
  text-align: center;
  align-content: center;
  height: 100%;
  width: 100%;
  background-color: #ffffffad;
  z-index: 997;

  transition: all 0.25s ease;

}

.-pagination{
  background: #fff;
}

.ReactTable{
  /* background: transparent !important; */
  border: 2px solid #014401;
}

.product_table .ReactTable .rt-tr{
  margin-bottom: 5px;
}

.ReactTable .rt-tr{
  /* border: 2px solid #014401; */
  /* border-radius: 5px; */
  background: white !important;
}

.rt-td{
  white-space: pre-wrap !important;
  /* border-left: 2px solid #014401 !important; */
  border-left: 1px solid #014401 !important;
  border-top: 2px solid #014401 !important;
  border-bottom: 2px solid #014401 !important;
  border-right: 1px solid #014401 !important;
}

.ReactTable .rt-td{
  white-space: pre-wrap !important;
}

.rt-th{
  white-space: normal;
  border: 2px solid #014401 !important;
}

.user .ReactTable .rt-td{
  white-space: pre-wrap;
  align-self: center;
}

.ReactTable .rt-td{
  white-space: pre-wrap !important;
}

.search-bar::placeholder { 
  color: #d87001;
  font-size: 14px;
  vertical-align: middle;
  margin-top: -5px;
}

.col{
  flex:1;
}

input::placeholder{
  color: #d87001;
}

.daterangepicker_end_input {
  display: none;
}

.range_inputs { font-size: 0px; }
.range_inputs * { display: none; }
.ranges li:last-child { display: none; }

.ranges li:last-child { display: none; }